body{
    background-color: #F4F4F4;
}
.classify{
    min-width: 300px;
}
header {
    width: 100%;
    background-color: #ffffff;
    height: 44px;
}
header .title {
    width: 100%;
}
header .title .left{
    width: 92%;
    height: 28px;
    background: #fff;
    border-radius: 2px;
    border: 1px solid #e6e6e6;
    padding: 0 5px 0 20px;
    position: relative;
    left: 8px;
    top: 8px;
    right: 8px;
}
header .title span{
    display: inline-block;
    width: 28px;
    height: 28px;
    background: url("img/search_bar_sprites.png") no-repeat -8px -8px;
    background-size: 44px;
    position: absolute;
    left: 0;
}
header .title input{
    display: inline-block;
    width: 100%;
    height: 28px;
    font-size: 14px;
    border: none;
    vertical-align: top;
    padding: 3px 0 3px 10px;
    outline: none;
    font-family: "microsoft yahei", Verdana, Arial, Helvetica, sans-serif;
}
section{
    width:100%
}
.leftTitle{
    position: fixed;
    top: 45px;
    left: 5px;
}
.leftTitle ul li{
    font-size: 14px;
    font-weight: bold;
    font-family: "Microsoft YaHei", Arial, Helvetica, sans-serif;
    line-height: 44px;
    border-bottom: 1px solid #e8e8e8;
    border-right: 1px solid #e8e8e8;
    padding: 0 14px;
}
.leftTitle ul .li1{
    background-color: #FFF;
    color: #47b34f;
    border-left: 3px solid #47b34f;
    padding-left: 11px;
    border-right: none;
}
.rightContent{
    position: fixed;
    top: 45px;
    left: 20%;
    width: 90%;
    height: 570px;
    background-color: #FFFFFF;
    overflow: scroll;
}
.rightContent>div{
    display: none;
}
.rightContent>div>div{
    min-height: 650px;
    overflow-y: scroll;
}
.rightContent .show{
    display: block;
}
.rightContent ul li{
    display: inline-block;
    width: 32%;
    text-align: center;
}
.rightContent .pTitle{
    margin: 10px 0 10px 40px;
}
.rightContent ul li img{
    width: 62px;
    height: 62px;
}
footer{
    width: 100%;
    background-color: #ffffff;
    display: -webkit-box;
    -webkit-box-pack: center;
    text-align: center;
    border-top: 1px solid #d9d9d9;
    position: fixed;
    bottom: 0;
    left: 0;
}
footer a{
    height: 20px;
    -webkit-box-flex: 1;
    display: inline-block;
    font-size: 13px;
    line-height: 17px;
    padding-top: 30px;
    display: -webkit-box;
    -webkit-box-pack: center;
    -webkit-box-align: center;
}
footer .shy{
    background: url("img/nav2.png") no-repeat 50% -222px;
    background-size: 20px;
}
footer .fey{
    background: url("img/nav2.png") no-repeat 50% -39px;
    background-size: 20px;
}
footer .gwc{
    background: url("img/nav2.png") no-repeat 50% -314px;
    background-size: 20px;
}
footer .did{
    background: url("img/nav2.png") no-repeat 50% -360px;
    background-size: 20px;
}
footer .mine{
    background: url("img/nav2.png") no-repeat 50% -406px;
    background-size: 20px;
}
